@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  @apply bg-white text-black;
}
